.form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: 0;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-container .form-group {
    margin-bottom: 1.5rem;
}

.form-container .form-control {
    border-radius: 4px;
}

.form-container .form-check-input {
    margin-left: 0;
}

.is-active-checkbox .form-check-input {
    background-color: red;
}

.button-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
}

.button-group .btn {
    margin-right: 0.5rem;
}

.button-group .back-button {
    background-color: darkgrey;
    border-color: red;
}

.button-group .save-button {
    background-color: red;
    border-color: red;
}

.button-group .btn:hover {
    background-color: darkred;
    border-color: darkred;
}

.required {
    color: red;
}
