.profile-container {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    background-color: transparent;
}

.profile-icon {
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.dropdown-header {
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.dropdown-name {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.dropdown-email {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.dropdown-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-options li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.dropdown-options li:hover {
    background-color: #f0f0f0;
}

.dropdown-options li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-options li a:hover {
    color: #333;
}

.dropdown-options li:last-child {
    border-bottom: none;
}

.dropdown-options li:last-child a {
    color: #dc3545;
}

.no-scrollbar {
    overflow: hidden;
}

.no-underline a {
    text-decoration: none !important;
}
