.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.dashboard-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    white-space: nowrap; /* Ensure the text stays in one line */
}

.dashboard-button {
    display: block;
    width: 200px;
    margin: 10px auto; /* Center the buttons and add space between them */
}
